/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define RAISE  1
#define LOWER  2
#define NAV    3

&lt {
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
};

/ {
    behaviors {
        hml: home_row_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <50>;
            bindings = <&kp>, <&kp>;
            // Keys on right half trigger left-side mods
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
        };
        hmr: home_row_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <50>;
            bindings = <&kp>, <&kp>;
            // Keys on left half trigger right-side mods
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// ╭───────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
      &kp Q       &kp W     &kp F     &kp P     &kp B         &kp J     &kp L     &kp U     &kp Y    &kp SEMI
// ├───────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &hml LGUI A &hml LALT R &hml LCTRL S &hml LSHFT T  &kp G    &kp M   &hmr RSHFT N &hmr RCTRL E &hmr RALT I &hmr RGUI O
// ├───────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
      &kp Z      &kp X      &kp C     &kp D     &kp V         &kp K     &kp H    &kp COMMA   &kp DOT   &kp FSLH
// ╰───────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                    &lt NAV ESC  &lt LOWER TAB   &lt RAISE BSPC    &lt RAISE RET  &lt LOWER SPACE  &kp DEL
//                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        raise_layer {
            bindings = <
// ╭───────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
      &kp F2     &kp F3    &kp F4    &kp F5    &kp F6        &kp F7    &kp F8    &kp F9    &kp F10   &kp F11
// ├───────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &hml LGUI F1 &hml LALT CAPSLOCK &hml LCTRL ESC &hml LSHFT TAB  &trans   &trans   &trans   &trans   &trans   &hmr RGUI F12
// ├───────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
      &trans     &trans    &trans    &kp INS   &kp PSCRN      &trans    &trans    &trans    &trans    &trans
// ╰───────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                           &trans     &trans     &trans          &trans     &trans     &trans
//                       ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        lower_layer {
            bindings = <
// ╭───────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
      &kp N1     &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
// ├───────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
      &kp TILDE  &hml LALT BSLH &hml LCTRL MINUS &hml LSHFT EQUAL &trans   &trans   &hmr RSHFT LBKT &hmr RCTRL RBKT &trans   &hmr RGUI SQT
// ├───────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
      &kp PIPE   &trans    &trans    &trans    &trans         &trans    &trans    &trans    &trans    &trans
// ╰───────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                           &trans     &trans     &trans          &trans     &trans     &trans
//                       ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        nav_layer {
            bindings = <
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮   ╭────────────┬────────────┬──────────┬──────────┬──────────╮
      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4       &trans     &bt BT_PRV  &bt BT_NXT &trans    &kp PSCRN
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├────────────┼────────────┼──────────┼──────────┼──────────┤
      &bt BT_CLR    &trans        &trans        &sys_reset    &bootloader        &trans      &kp LEFT    &kp DOWN   &kp UP    &kp RIGHT
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├────────────┼────────────┼──────────┼──────────┼──────────┤
      &trans        &trans        &trans        &trans        &trans             &trans      &kp HOME    &kp PG_DN  &kp PG_UP &kp END
// ╰──────────────┴──────────────┼──────────────┼──────────────┼──────────────┤   ├────────────┼────────────┼──────────┴──────────┴──────────╯
                                   &trans        &trans        &trans             &trans      &trans      &trans
//                              ╰──────────────┴──────────────┴──────────────╯   ╰────────────┴────────────┴──────────╯
            >;
        };
    };
};
